@media (min-width: 1780px) {

  * {
    box-sizing: border-box;
  }
  

body {
  font-family: "Lato", sans-serif;
  color: black;
  /* display: flex;
    justify-content: center; */
  /* margin-top: 1px;  */
}

.box {
  background-image: url("./icons/brown/background1.png");
  /* background-image: url("./icons/brown/background_big.png"); */
  /* background-image: url("./icons/brown/background3.jpg"); */
  /* background-image: url("./icons/brown/background2.jpg"); */
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100vw 53vw;
  background-color: rgb(255, 224, 204);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: (repeat(7, minmax(100vw, auto)));
}

.app-name {
  grid-column: 2/3;
  grid-row: 3/5;
}

.log-in-form {
  grid-column: 4/6;
  grid-row: 3/5;
}

.footer {
  grid-column: 1/7;
  grid-row: 7/8;
}

div.app-name {
  font-family: "Lobster", cursive;
  font-size: 2.2vw;
  text-align: center;
  transform: rotate(-3deg);
  display: flex;
  padding-top: 102%;
  padding-left: 28%;
}
.login-panel {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
  margin-left: 25%;
  margin-top: 37%;
  justify-content: center;
  width: 20vw;
  border: 1px rgb(223, 216, 216);
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 1%;
  border-radius: 2%;
}

.log-in-title {
  font-weight: bold;
  padding-bottom: 4%;
  padding-top: 4%;
}

div.flex-div {
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  padding: 4%;
  justify-content: center;
}

.x .x-or {
  flex-direction: row;
  display: inline-block;
}

.x {
  border-color: rgb(223, 216, 216);
  background-color: rgb(223, 216, 216);
  height: 0.5px;
  width: auto;
  margin-top: 10px;
  margin-left: 11px;
  margin-right: 11px;
}

.x-or {
  color: grey;
  margin-top: 5px;
  padding-top: 5%;
  font-size: 14px;
  font-family: sans-serif;
}

#use-sso-button {
  text-decoration: none;
  padding-bottom: 4%;
  padding-top: 4%;
  padding-bottom: 5%;
}

input.input-design {
  width: 70%;
  height: 2vw;
  padding-left: 2%;
}

input.input-design,
input.login-button,
div.x-or {
  font-size: 0.8vw;
}
.login-button {
  width: 70%;
  height: 2vw;
}

p#sign-up-option {
  /* display: flex;
  flex-direction: column;*/
  margin-top: 6%;
}

#sign-up-option-2 {
  text-decoration: none;
  padding-top: 2%;
}

select#menu {
  display: flex;
  margin-left: 45%;
  /* margin-top: 17px; */
  margin-top: 4%;
  width: 90px;
  width: 22%;
  height: 25%;
  /* font-size: 15px; */
  font-size: 0.8vw;
  background: none;
  border: 2px solid #edeff0;
  padding: 6px;
}

.footer {
  display: inline;
  /* justify-content: center; */
}

div.footer-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10vw;
}

.footer-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
}

footer.footer {
  margin-left: 20%;
  margin-right: 25%;
}

.li-kzy1,
.li-kzy2,
.li-kzy3 {
  width: auto;
  padding: 8px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #552b00;
  font-weight: bold;
  text-align: -webkit-match-parent;
}

ul.footer-ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

span.authors {
  display: flex;
  padding-top: 9px;
  text-align: right;
  /* margin-left: 100px; */
  margin-left: 1%;
  font-size: 0.8vw;
  font-family: "Lato", sans-serif;
  color: grey;

  /* display: none; */
}

nav.footer-nav {
  /* padding-bottom: 10px; */
  font-weight: bold;
}

.freepik {
  text-decoration: none;
  display: flex;
  text-align: right;
  /* margin-left: 100px; */
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: grey;
  display: none;
}

}

/* MEDIA */

 @media (min-width: 220px) and (max-width: 1779px) {

  .box {
    display: flex;
    justify-content: center;
    background-image: url("./icons/brown/93977_mobile_V3.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 110vw 180vw;
    background-color: rgb(255,224, 204);   
    position: center center;
  
  } 
  

  }


/* small / mobile */
/* @media (min-width: 320px) and (max-width: 1000px) {

} */

/* 

/* medium / tablet ipads  */
/* @media (min-width: 1001px) and (max-width: 1400px)  */
/* and (orientation: portrait) */
/* { */

/* .box {
    background-image: url("./icons/brown/background1.png");

    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 110% 200%;
    background-color: rgb(255,224, 204);   
    } */

/* div.app-name {
    display: none;
  }

  body {
    font-size: 1vw;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: (repeat(7, minmax(100vw, auto)));	  
  
  }
   */
/* 
  select#menu {

    width: 100%;
    height: 18%;
    padding: 2px;
    margin-left: 100%;
    margin-top: 15%;
    
  } */

/* div.footer-list {
    display: flex;
    justify-content: center;
     text-align: center;
    margin-top: 8vw;
  } 

  footer.footer {
    margin-left: 1%;
    margin-right: 1%;
  }
    */
/*   
      .log-in-form {
        grid-column: 3/5;
        grid-row: 3/5;
      }
  
      .footer {
        grid-column: 1/6;
        grid-row: 7/8;
      }
  
div.log-in-form {

padding-right: 79%;
  margin-top: 21%;
  font-size: 1.2vw;;
}

input.input-design, input.login-button, div.x-or {
  font-size: 1vw;
}

div.x-or {
  padding-top: 1%;
}


a#use-sso-button {
  font-size: 1 vw;

}


  ul.footer-ul {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    font-size: 0.4vw;;
    font-weight: bold;
  }



  @media (min-width: 1563px) and (max-width: 1800px) {
    .box {
      background-image: url("./icons/brown/background_big.png");
      background-color: #cccccc;
      background-repeat: no-repeat;
      background-size: 100vw 56vw;
      background-color: rgb(255,224, 204);   
    }

    div.app-name {
     padding-top: 109%;
  }

  div.footer-list {
      margin-top: 13vw;
  } */

/* large / laptop */
/* @media (min-width: 1555px) and (max-width: 1678px) {
 
  .box {
    background-image: url("./icons/brown/background1.png");
   background-size: 100vw 60vw;
    background-color: rgb(255,224, 204);
  }

  div.app-name {
    padding-top: 109%;
 }

 div.footer-list {
     margin-top: 13vw;
 }



  body {
    font-size: 1vw;
  }
  
  div.footer-list {
    display: flex;
    justify-content: center;
     text-align: center;
    margin-top: 4%;
  } 

  ul.footer-ul {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    font-size: 0.4vw;;
    font-weight: bold;
  }
span.authors {
  display: flex;
  justify-content: center;
}


footer.footer {
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 4%;

}

div.flex-div {
  padding-bottom: 0;
}
}

div.x-or {
  margin: 0;;
}



.li-kzy1, .li-kzy2, .li-kzy3 {

  font-size: 0.8vw;
 
}

.authors {
  font-size: 0.7vw;
  padding-top: 11px; 

} */
