* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: black;
}

.box {
  background-image: url("./icons/brown/background1.png");
  
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100vw 53vw;
  background-color: rgb(255, 224, 204);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: (repeat(7, minmax(100vw, auto)));
}

.app-name {
  grid-column: 2/3;
  grid-row: 3/5;
}

.log-in-form {
  grid-column: 4/6;
  grid-row: 3/5;
}

.footer {
  grid-column: 1/8;
  grid-row: 1/8;
}

div.app-name-mobile {
  display: none;
}

div.app-name {
  font-family: "Lobster", cursive;
  font-size: 2.2vw;
  text-align: center;
  transform: rotate(-3deg);
  display: flex;
  padding-top: 104%;
  padding-left: 28%;
}
.login-panel {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
  margin-left: 25%;
  margin-top: 37%;
  justify-content: center;
  width: 20vw;
  border: 1px rgb(223, 216, 216);
  border-style: solid;
  background-color: white;
  text-align: center;
  border-radius: 1%;
  border-radius: 2%;
}

.log-in-title {
  font-weight: bold;
  padding-bottom: 4%;
  padding-top: 4%;
}

div.flex-div {
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  padding: 4%;
  justify-content: center;
}

.x .x-or {
  flex-direction: row;
  display: inline-block;
}

.x {
  border-color: rgb(223, 216, 216);
  background-color: rgb(223, 216, 216);
  height: 0.5px;
  width: auto;
  margin-top: 10px;
  margin-left: 11px;
  margin-right: 11px;
}

.x-or {
  color: grey;
  margin-top: 5px;
  padding-top: 5%;
  font-size: 14px;
  font-family: sans-serif;
}

#use-sso-button {
  text-decoration: none;
  padding-bottom: 4%;
  padding-top: 4%;
  padding-bottom: 5%;
}

input.input-design {
  width: 70%;
  height: 2vw;
  padding-left: 2%;
}

input.input-design,
input.login-button,
div.x-or {
  font-size: 0.8vw;
}
.login-button {
  width: 70%;
  height: 2vw;
}

p#sign-up-option {
  margin-top: 6%;
}

#sign-up-option-2 {
  text-decoration: none;
  padding-top: 2%;
}

select#menu {
  display: flex;
  margin-left: 45%;
  /* margin-top: 17px; */
  margin-top: 4%;
  width: 90px;
  width: 22%;
  height: 25%;
  /* font-size: 15px; */
  font-size: 0.8vw;
  background: none;
  border: 2px solid #edeff0;
  padding: 6px;
}

.footer {
  display: inline;
  /* justify-content: center; */
}

div.footer-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10vw;
}

.footer-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
}

footer.footer {
  margin-left: 18%;
  margin-right: 15%
}

.li-kzy1,
.li-kzy2,
.li-kzy3 {
  width: auto;
  padding: 8px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #552b00;
  font-weight: bold;
  text-align: -webkit-match-parent;
}

ul.footer-ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

span.authors {
  display: flex;
  padding-top: 9px;
  text-align: right;
  margin-left: 1%;
  font-size: 0.8vw;
  font-family: "Lato", sans-serif;
  color: grey;
}

nav.footer-nav {
  font-weight: bold;
}

.freepik {
  text-decoration: none;
  display: flex;
  text-align: right;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: grey;
  display: none;
}

#container{
  position: fixed;
  margin-top: 38.5%;;
  width: 60%;
}

/* MEDIA */
@media (min-width: 320px) and (max-width: 480px) {

  #container{
   margin-top: 150%;
 }
 
 body {
   font-size: 3.5vw;
 }
 
 
 .box {
   background: url("./icons/brown/93977_mobile_V3.jpg") no-repeat center center fixed;
   /* background-size: 109% 100%; */
   background-size: cover;
 
   display: flex;
   flex-direction: column;
   
 }
 div.app-name {
   display: none;
 }
 div.app-name-mobile {
   display: flex;
   font-family: "Lobster", cursive;
   justify-content: center;
   text-align: center;
   font-size: 30px;
   padding-bottom: 0px;
   padding-top: 3%;;
 }
 
 div.login-panel {
   width: 65%;
   /* height: 100%; */
   margin-left: 15%;
   margin-top: 44%;
   padding-top: 2%;
 }
 
 #use-sso-button {
 padding-top: 1%;
}

 p#sign-up-option, p#sign-up-option-2 {
   margin-bottom: 0;
   padding: 0;
 }



 select#menu {
 display: none;
 }
 
 div.footer-list {
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-flow: wrap;
   /* margin-top: 140px; */

   margin-right: 5%;
 }

 nav.footer-nav {
   margin-right: 30%;
   margin-left: 30%;
 }
 
 input.input-design, input.login-button {
   width: 72%;
   height: 6vw;
   /* padding-left: 2%; */
   font-size: 3.2vw;
 }
 
 span.authors {
    font-size: 2.5vw;
   padding: 1px;

  
 }
 
 .li-kzy1,
 .li-kzy2,
 .li-kzy3 {
   font-size: 2vw;
 }
 
  
 div.x-or {
   font-size: 3vw;
   padding: 0
  
 }
 
  }
 



/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */
/* 

@media (min-width: 1527px) and (max-width: 1617px) {

  .box {
    background-image: url("./icons/brown/background1.png");
    background-repeat: no-repeat;
    background-size: 100vw 56vw;
    background-color: rgb(255, 224, 204);
  }
  #container{
    position: fixed;
    margin-top: 40%;
    width: 60%;
  }

  div.app-name {
    padding-top: 110%;
  }

  .login-panel {
    margin-top: 45%;
  }

  div.footer-list {
    display: flex;
    justify-content: space-between;
    margin-top: 11vw;
  }
}

@media (min-width: 1400px) and (max-width: 1526px) {
  .box {
    background: url("./icons/brown/background1.png") no-repeat;
    background-size: 100vw 61vw;
    background-color: rgb(255, 224, 204);
    
  }

  #container{
    position: fixed;
    margin-top: 42%;
    width: 60%;
  }

  div.footer-list {
    display: flex;
    justify-content: space-between;
    margin-top: 15vw;
  }
  .login-panel {
    margin-top: 45%;
  }

  div.app-name {
    padding-top: 121%;
  }

  footer.footer {
    margin-right: 15%;
  }
}

@media (min-width: 1240px) and (max-width: 1399px) {
  .box {
    background: url("./icons/brown/background1.png") no-repeat;
    background-size: 100vw 70vw;
    background-color: rgb(255, 224, 204);
  }

  #container{
    position: fixed;
    margin-top: 45%;
    width: 60%;
  }

  div.footer-list {
    display: flex;
    justify-content: space-between;
    margin-top: 19vw;
  }
  .login-panel {
    margin-top: 50%;
  }

  div.app-name {
    padding-top: 141%;
  }

  footer.footer {
    margin-right: 15%;
  }
}


@media (min-width: 1012px) and (max-width: 1239px) {
  body {
    font-size: 1.5vw;
  }
  #container{
    margin-top: 880px;
  }
  
  input.input-design,
  input.login-button,
  div.x-or {
    font-size: 1.3vw;
  }

  .box {
    background: url("./icons/brown/93977_mobile.jpg") no-repeat center center
      fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
  }
 

  div.app-name {
    display: none;
  }

  div.app-name-mobile {
    display: flex;
    font-family: "Lobster", cursive;
    justify-content: center;
    text-align: center;
    font-size: 1.9vw;
    padding-bottom: 2px;
  }

  div.login-panel {
    width: 25%;
    margin-left: 41%;
    margin-top: 290px;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  select#menu {
    display: flex;
    margin-left: 48%;
    margin-top: 4%;
    width: 85px;
    height: 31px;
    padding: 6px;
    font-size: 1.2vw;
  }

  div.footer-list {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin-top: 155px;
  }

  div.footer-list {
    display: flex;
    justify-content: center;
  }

  li,
  span.authors {
    font-size: 1.4vw;
    padding: 1px;
  }

}

@media (min-width: 820px) and (max-width: 1011px) {

  #container{
    margin-top: 900px;
   }

  body {
    font-size: 1.8vw;
  }

  input.input-design,
  input.login-button,
  div.x-or {
    font-size: 1.6vw;
    height: 25px;
  }

  .box {
    background: url("./icons/brown/93977_mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  div.app-name {
    display: none;
  }
  div.app-name-mobile {
    display: flex;
    font-family: "Lobster", cursive;
    justify-content: center;
    text-align: center;
    font-size: 1.9vw;
    padding-bottom: 0px;
  }

  div.login-panel {
    width: 35%;
    margin-left: 39%;
    margin-top: 290px;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  select#menu {
    display: flex;
    margin-left: 48%;
    margin-top: 4%;
    width: 85px;
    height: 31px;
    padding: 6px;
    font-size: 1.3vw;
  }

  div.footer-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    margin-top: 140px;
    font-size: 0.7vw;
    margin-right: 15%;
  }

  span.authors {
    font-size: 1.3vw;
    padding: 1px;
  }

  .li-kzy1,
  .li-kzy2,
  .li-kzy3 {
    font-size: 1.3vw;
  }

  .footer.footer {
    margin-left: 28%;
  }
}



@media (min-width: 650px) and (max-width: 819px) {

 #container{
  margin-top: 880px;
}

body {
  font-size: 2.5vw;
}

input.input-design,
input.login-button,
div.x-or {
  font-size: 1.6vw;
  height: 25px;
}

.box {
  background: url("./icons/brown/93977_mobile_V3.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}
div.app-name {
  display: none;
}
div.app-name-mobile {
  display: flex;
  font-family: "Lobster", cursive;
  justify-content: center;
  text-align: center;
  font-size: 3vw;
  padding-bottom: 0px;
}

div.login-panel {
  width: 40%;
  margin-left: 30%;
  margin-top: 290px;
  padding-bottom: 2%;
  padding-top: 2%;
}

select#menu {
  display: flex;
  margin-left: 44%;
  margin-top: 4%;
  width: 85px;
  height: 31px;
  padding: 6px;
  font-size: 2vw;
}

div.footer-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap;
  margin-top: 140px;
  margin-right: 40%;
}

input.input-design, .login-button {
  width: 73%;
  height: 5vw;
  padding-left: 2%;
  font-size: 2vw;
}

span.authors {
  font-size: 1.5vw;
  padding: 1px;
}

.li-kzy1,
.li-kzy2,
.li-kzy3 {
  font-size: 1.8vw;
}

.footer.footer {
  margin-left: 28%;
}

div.x-or {
  font-size: 2vw;
  margin-bottom: 4%;;
}

 }




 @media (min-width: 320px) and (max-width: 649px) {

  #container{
   margin-top: 630px;
 }
 
 body {
   font-size: 2.5vw;
 }
 
 
 .box {
   background: url("./icons/brown/93977_mobile_V3.jpg") no-repeat center center fixed;
   background-size: cover;
   display: flex;
   flex-direction: column;
   
 }
 div.app-name {
   display: none;
 }
 div.app-name-mobile {
   display: flex;
   font-family: "Lobster", cursive;
   justify-content: center;
   text-align: center;
   font-size: 3.5vw;
   padding-bottom: 0px;
 }
 
 div.login-panel {
   width: 42%;
   margin-left: 28%;
   margin-top: 200px;
   padding-top: 2%;
 }
 
 select#menu {
   display: flex;
   margin-left: 39%;
   margin-top: 3%;
   width: 90px;
   height: 31px;
   padding: 6px;
   font-size: 2vw;
 }
 
 div.footer-list {
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-flow: wrap;
   margin-top: 140px;

   margin-right: 5%;
 }

 nav.footer-nav {
   margin-right: 30%;
   margin-left: 30%;
 }
 
 input.input-design, input.login-button {
   width: 72%;
   height: 5vw;
   padding-left: 2%;
   font-size: 2.5vw;
 }
 
 span.authors {
    font-size: 2.5vw;
   padding: 1px;

  
 }
 
 .li-kzy1,
 .li-kzy2,
 .li-kzy3 {
   font-size: 2vw;
 }
 
  
 div.x-or {
   font-size: 2vw;
  
 }
 
  }
 */
