body {
  background-color: rgb(251, 251, 251);
  margin-top: 100px;
}

* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: (repeat(6, minmax(120vw, auto)));
  grid-gap: 5px;
}

.app-title {
    grid-column: 2/3;
    grid-row: 2/3;
}
/* .main-img {
    grid-column: 2/3;
    grid-row: 1/5;
    } */

/* .instagram {
  grid-column: 2/3;
  grid-row: 1/6;
} */

.footer {
  grid-column: 1/5;
  grid-row: 6/7;
}

.nested {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: (repeat(10, minmax(120px, auto)));
  grid-gap: 10px;
  width: 355px;
}

.instagram {
  margin-top: 25px;
}

.log-in {
  grid-column: 1/2;
  grid-row: 1/4;
}

.sign-up {
  grid-column: 1/2;
  grid-row: 4/5;
}

.get-app {
  grid-column: 1/2;
  grid-row: 5/6;
}

.main-square {
  padding-top: 10px;
  padding-bottom: 15px;
}

div.log-in {
  border: 1px rgb(223, 216, 216);
  border-style: solid;
  background-color: white;
  width: auto;
  text-align: center;
  border-radius: 1%;
}

.sign-up {
  border: 1px rgb(223, 216, 216);
  border-style: solid;
  background-color: white;
  width: auto;
  text-align: center;
  border-radius: 1%;
  padding: 12px;
}

h1 {
  font-family: "Rochester", cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 19px;
}

.input-design {
  background-color: rgb(248, 248, 248);
  border: solid 1px;
  border-color: rgb(223, 216, 216);
  width: 280px;
  height: 37px;
  border-radius: 4%;
  color: black;
  font-size: 13px;
  padding-left: 5px;
}

input[type="submit"] {
  background-color: rgb(187, 207, 248);
  color: white;
  margin-top: 10px;
  width: 280px;
  height: 35px;
  border: solid 1px;
  border-radius: 4%;
  font-weight: bold;
}

div.flex-div {
  display: flex;
  padding: 15px;
  justify-content: center;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.x .x-or {
  flex-direction: row;
  display: inline-block;
}

.x {
  border-color: rgb(223, 216, 216);
  background-color: rgb(223, 216, 216);
  height: 0.5px;
  width: 115px;
  margin-top: 10px;
  margin-left: 11px;
  margin-right: 11px;
}

.x-or {
  color: grey;
  margin-top: 5px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
}

.get-app {
  text-align: center;
}

.button-fb {
  display: flex;
  width: 240px;
  height: 30px;
  justify-content: space-between;
  position: relative;
  border: none;
  background-color: none;
  display: inline-block;
  border-radius: 3%;
}

button.button-fb {
  background-color: white;
  margin: 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3%;
}

.icon {
  background-color: white;
  color: rgb(37, 62, 131);
  font-size: 15px;
}

.icon-fb {
  margin-top: 3px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

a {
  color: rgb(57, 85, 160);
  font-size: 14px;
  font-family: "Arimo", sans-serif;
}

p#sign-up-option {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
}

a#sign-up-option-2 {
  text-decoration: none;
  color: rgb(0, 149, 246);
  font-size: 15px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
}

div.footer-list {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.footer-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
}

.li-kzy1,
.li-kzy2,
.li-kzy3 {
  width: auto;
  padding: 10px;
  font-size: 12px;
  font-family: "Ramabhadra", sans-serif;
  color: rgb(30, 51, 109);
  text-align: -webkit-match-parent;
}

ul.footer-ul {
  margin: 0;
  padding: 0;
}

.footer-span {
  display: flex;
  padding: 8px;
  text-align: right;
  text-transform: uppercase;
  margin-left: 100px;
  font-size: 13px;
  font-family: "Ramabhadra", sans-serif;
  color: grey;
}

.img-app-link {
  margin-top: 8px;
  padding-left: 5px;
  height: 40%;
  width: 40%;
}

/* small / mobile */
@media (min-width: 320px) and (max-width: 480px) {
  body {
    display: flex;
    justify-content: center;
    margin-top: 1px;
  }

  div.grid-container {
    display: column;
    display: flex;
  }

  main {
    max-width: fit-content;
  }

  div.log-in {
    display: flex;
    flex-direction: column;
  }

  div.main-img {
    display: none;
  }

  ul.footer-ul {
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
  }

  div.footer-list {
    display: inline-block;
    text-align: center;
    margin-top: 3%;
  }

  span.footer-span {
    display: contents;
    text-align: center;
  }

  nav.footer-nav {
    display: flex;
    flex-direction: column;
  }

  .footer div {
    text-align: center;
    flex-direction: column;
    flex-flow: wrap;
  }

  .img-app-link {
    margin-top: 8px;
    padding-left: 5px;
    height: 37%;
    width: 37%;
  }

  .li-kzy1,
  .li-kzy2,
  .li-kzy3 {
    width: auto;
    padding: 9px;
    font-size: 11px;
  }

  article.grid-container {
    grid: none;
    grid-gap: 0px;
  }

  div.instagram {
    margin-top: 3px;
  }

  h1 {
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

/* medium / tablet ipads  */
@media (min-width: 481px) and (max-width: 960px) {
  body {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 80px;
  }

  article.grid-container {
    display: inline-block;
  }

  div.instagram {
    display: flex;
    justify-content: center;
  }

  div.grid-container {
    display: column;
    display: flex;
  }

  main {
    max-width: fit-content;
  }

  div.log-in {
    display: flex;
    flex-direction: column;
  }

  div.main-img {
    display: none;
  }

  ul.footer-ul {
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
  }

  div.footer-list {
    display: inline-block;
    text-align: center;
    margin-top: 6%;
  }

  span.footer-span {
    display: contents;
    text-align: center;
  }

  nav.footer-nav {
    display: flex;
    flex-direction: column;
  }

  .footer div {
    text-align: center;
    flex-direction: column;
    flex-flow: wrap;
  }
}

/* large / laptop */
@media (min-width: 961px) and (max-width: 1700px) {
  body {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 87px;
  }
  .footer div {
    text-align: center;
    flex-direction: column;
    flex-flow: wrap;
  }

  div.footer-list {
    display: inline-block;
    text-align: center;
    margin-top: 3%;
  }

  span.footer-span {
    display: contents;
    text-align: center;
  }
}
